body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_content_wsb{
  background: rgb(234, 233, 233);
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  margin-left: 280px;
  padding-top: 48px;
  transition:all .5s;
  z-index: 1;

  .header{
      font-weight: bolder;
      width: inherit;
      height: 57px;
      position: fixed;
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      z-index: 3;
  }

  .container {
    margin-top: 57px;
    height: calc(100% - 57px);
    padding: 20px;
    display: flex;
    flex-direction: row;

    .details {
      width: 50%;
      height: 50%;
      display: grid;
      grid-column: 2;
      margin: 30px;
      border: 1px solid #aaa;
      border-radius: 4px;
      
      .detail_title {
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight:bold;

        .detail_print {
        margin-left: 4px;
        font-size: 13px;
        font-weight: lighter;
        }
      } 
    }

    .actions {
      width: 50%;
      height: 50%;
      display: grid;
      grid-column: 2;
      margin: 30px;
      border-radius: 4px;

      .accept {
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(0, 221, 0);
        font-size: 30px;
        font-weight: bold;

        .is-active & {
          background: red;
        }
        
        :hover > & {
          background: blue;
        }
      }

      .cancel {
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(221, 0, 0);
        font-size: 30px;
        font-weight: bold;
      }

      .edit {
        margin: 20px;
        border-radius: 20px;
        background-color: rgb(255, 251, 0);
        font-size: 30px;
        font-weight: bold;
      }
    }
  }
}

.main_content_wosb{
  background: white;
  width: calc(100% - 49px);
  margin-left: 49px;
  height: 100%;
  float: right;
  padding-top: 48px;
  transition:all .5s linear;
  z-index: 1;

  .header{
      float: inherit;
      width: inherit;
      height: 57px;
      position: fixed;
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      z-index: 3;
  }

  .topnavticket{
      background-color: white;
      margin-top: 57px;
      width: 100%;
      height: 57px;

      .navholder {
          width: 100%;
          border-bottom: 2px solid rgb(105, 105, 105);
          padding-top: 25px;
          display: flex;
          margin-bottom: 5px;

          .navticket {
              background: rgb(234, 233, 233);
              border: 1px;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              border-left: 2px solid rgb(105, 105, 105);
              border-right: 2px solid rgb(105, 105, 105);
              border-top: 2px solid rgb(105, 105, 105);
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 5px;
              margin-left: 1px;
              font-size: 10px;
              margin-right: 1px;

              &:hover {
                  background: rgb(255, 145, 0);
              }
          }
      }
  }
}