body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_content_wsb{
  background: rgb(234, 233, 233);
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  margin-left: 280px;
  padding-top: 48px;
  transition:all .5s;
  z-index: 1;

  .header{
      font-weight: bolder;
      width: inherit;
      height: 57px;
      position: fixed;
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      z-index: 3;
  }

  .container {
    margin-top: 57px;
    height: calc(100% - 57px);
    padding: 20px;
    display: flex;
    flex-direction: row;

    .details {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      width: 50%;
      height: 50%;
      display: grid;
      grid-column: 2;
      margin: 30px;
      border: 0px #aaa;
      border-radius: 4px;
      
      .detail_title {
        margin-left: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight:bold;

        .detail_print {
          margin-left: 4px;
          font-size: 13px;
          font-weight: lighter;
        }
      } 
    }

    .actions {
      width: 50%;
      height: 50%;
      display: grid;
      grid-column: 2;
      margin: 30px;
      border-radius: 4px;

      // .btn-1 {
      //   background: rgb(6,14,131);
      //   background: linear-gradient(0deg, rgba(6,14,131,1) 0%, rgba(12,25,180,1) 100%);
      //   border: none;
      // }
      // .btn-1:hover {
      //    background: rgb(0,3,255);
      // background: linear-gradient(0deg, rgba(0,3,255,1) 0%, rgba(2,126,251,1) 100%);
      // }

      .accept {
        all: unset;
        font-size: 30px;
        font-weight: bold;
        height: 80px;
        background: transparent;
        border: none;
        position: relative;
        color: #f0f0f0;
        cursor: pointer;
        z-index: 1;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      
        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -99999;
          transition: all .4s;
        }
        
        &:before {
          transform: translate(0%, 0%);
          width: 100%;
          height: 100%;
          background: #029627;
          border-radius: 10px;
        }
        
        &:after {
          transform: translate(10px, 10px);
          width: 60px;
          height: 60px;
          background: #14ff0c15;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 50px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        
        &:hover::before {
          transform: translate(5%, 20%);
          width: 110%;
          height: 110%;
        }
        
        &:hover::after {
          border-radius: 10px;
          transform: translate(0, 0);
          width: 100%;
          height: 100%;
        }
        
        &:active::after {
          transition: 0s;
          transform: translate(0, 5%);
        }
      }
      
      .cancel {
        all: unset;
        font-size: 30px;
        font-weight: bold;
        height: 80px;
        background: transparent;
        border: none;
        position: relative;
        color: #f0f0f0;
        cursor: pointer;
        z-index: 1;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      
        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -99999;
          transition: all .4s;
        }
        
        &:before {
          transform: translate(0%, 0%);
          width: 100%;
          height: 100%;
          background: #ff0101;
          border-radius: 10px;
        }
        
        &:after {
          transform: translate(10px, 10px);
          width: 60px;
          height: 60px;
          background: #c5393915;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 50px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        
        &:hover::before {
          transform: translate(5%, 20%);
          width: 110%;
          height: 110%;
        }
        
        &:hover::after {
          border-radius: 10px;
          transform: translate(0, 0);
          width: 100%;
          height: 100%;
        }
        
        &:active::after {
          transition: 0s;
          transform: translate(0, 5%);
        }
      }

      .edit {
        all: unset;
        font-size: 30px;
        font-weight: bold;
        height: 80px;
        background: transparent;
        border: none;
        position: relative;
        color: #f0f0f0;
        cursor: pointer;
        z-index: 1;
        padding: 10px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
      
        &:after,
        &:before {
          content: '';
          position: absolute;
          bottom: 0;
          right: 0;
          z-index: -99999;
          transition: all .4s;
        }
        
        &:before {
          transform: translate(0%, 0%);
          width: 100%;
          height: 100%;
          background: #9e9b00;
          border-radius: 10px;
        }
        
        &:after {
          transform: translate(10px, 10px);
          width: 60px;
          height: 60px;
          background: #ffffff15;
          backdrop-filter: blur(5px);
          -webkit-backdrop-filter: blur(5px);
          border-radius: 50px;
          box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
        
        &:hover::before {
          transform: translate(5%, 20%);
          width: 110%;
          height: 110%;
        }
        
        &:hover::after {
          border-radius: 10px;
          transform: translate(0, 0);
          width: 100%;
          height: 100%;
        }
        
        &:active::after {
          transition: 0s;
          transform: translate(0, 5%);
        }
      }
    }
  }
}

.main_content_wosb{
  background: white;
  width: calc(100% - 49px);
  margin-left: 49px;
  height: 100%;
  float: right;
  padding-top: 48px;
  transition:all .5s linear;
  z-index: 1;

  .header{
      float: inherit;
      width: inherit;
      height: 57px;
      position: fixed;
      padding: 20px;
      background: #fff;
      color: #717171;
      border-bottom: 1px solid #e0e4e8;
      z-index: 3;
  }

  .topnavticket{
      background-color: white;
      margin-top: 57px;
      width: 100%;
      height: 57px;

      .navholder {
          width: 100%;
          border-bottom: 2px solid rgb(105, 105, 105);
          padding-top: 25px;
          display: flex;
          margin-bottom: 5px;

          .navticket {
              background: rgb(234, 233, 233);
              border: 1px;
              border-top-left-radius: 4px;
              border-top-right-radius: 4px;
              border-left: 2px solid rgb(105, 105, 105);
              border-right: 2px solid rgb(105, 105, 105);
              border-top: 2px solid rgb(105, 105, 105);
              padding-top: 5px;
              padding-left: 5px;
              padding-right: 5px;
              margin-left: 1px;
              font-size: 10px;
              margin-right: 1px;

              &:hover {
                  background: rgb(255, 145, 0);
              }
          }
      }
  }
}