body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main_content_wsb {
  background: rgb(234, 233, 233);
  width: calc(100% - 280px);
  height: 100%;
  float: right;
  margin-left: 280px;
  padding-top: 48px;
  transition: all 0.5s;
  z-index: 1;
}
.main_content_wsb .header {
  width: inherit;
  height: 57px;
  position: fixed;
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  z-index: 3;
}
.main_content_wsb .topnavticket {
  background-color: white;
  margin-top: 57px;
  width: 100%;
  height: 57px;
  position: fixed;
}
.main_content_wsb .topnavticket .navholder {
  width: 100%;
  border-bottom: 2px solid rgb(105, 105, 105);
  padding-top: 25px;
  display: flex;
  margin-bottom: 5px;
}
.main_content_wsb .topnavticket .navholder .navticket-on {
  background: rgb(255, 145, 0);
  border: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 2px solid rgb(105, 105, 105);
  border-right: 2px solid rgb(105, 105, 105);
  border-top: 2px solid rgb(105, 105, 105);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  transition: all 0.5s linear;
  color: black;
}
.main_content_wsb .topnavticket .navholder .navticket-on:hover {
  transition: all 0.5s linear;
  background: rgb(105, 105, 105);
  border-left: 2px solid rgb(105, 105, 105);
  border-right: 2px solid rgb(105, 105, 105);
  border-top: 2px solid rgb(105, 105, 105);
  color: rgb(255, 255, 255);
}
.main_content_wsb .topnavticket .navholder .navticket-off {
  background: rgb(234, 233, 233);
  border: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 2px solid rgb(105, 105, 105);
  border-right: 2px solid rgb(105, 105, 105);
  border-top: 2px solid rgb(105, 105, 105);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  margin-right: 1px;
  text-decoration: none;
  transition: all 0.5s linear;
  color: black;
}
.main_content_wsb .topnavticket .navholder .navticket-off:hover {
  transition: all 0.5s linear;
  background: rgb(255, 145, 0);
  border-left: 2px solid rgb(255, 145, 0);
  border-right: 2px solid rgb(255, 145, 0);
  border-top: 2px solid rgb(255, 145, 0);
  color: rgb(59, 59, 59);
}
.main_content_wsb .tabContainer {
  height: 100%;
  width: 100%;
  padding-left: 48px;
  padding-right: 48px;
}
.main_content_wsb .tabContainer .createForm {
  padding: 10px;
  height: 100%;
  margin-top: 130px;
}
.main_content_wsb .tabContainer .createForm .create-form {
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .next {
  overflow: visible;
}
.main_content_wsb .tabContainer .createForm .create-form .next-button {
  width: 100px;
  height: 50px;
  border: 0 solid;
  border-radius: 4px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: background-color 300ms linear;
  background-color: rgb(0, 128, 0);
}
.main_content_wsb .tabContainer .createForm .create-form .next-button .caret-right {
  display: none;
}
.main_content_wsb .tabContainer .createForm .create-form .next-button:hover {
  transition: background-color 300ms linear;
  background-color: rgb(0, 185, 0);
  color: #fff;
}
.main_content_wsb .tabContainer .createForm .create-form .prev-button {
  width: 100px;
  height: 50px;
  border: 0 solid;
  border-radius: 4px;
  font-size: 20px;
  color: rgb(0, 0, 0);
  transition: background-color 300ms linear;
  background-color: rgb(115, 128, 0);
}
.main_content_wsb .tabContainer .createForm .create-form .prev-button .caret-left {
  display: none;
}
.main_content_wsb .tabContainer .createForm .create-form .prev-button:hover {
  transition: background-color 300ms linear;
  background-color: rgb(176, 196, 1);
  color: #fff;
}
.main_content_wsb .tabContainer .createForm .create-form .prev-button:hover .caret-left {
  display: contents;
  color: #fff;
}
.main_content_wsb .tabContainer .createForm .create-form .Main-title {
  text-align: left;
}
.main_content_wsb .tabContainer .createForm .create-form .SMD {
  text-align: left;
}
.main_content_wsb .tabContainer .createForm .create-form .department-input-container {
  display: flex;
  flex-direction: column-reverse;
}
.main_content_wsb .tabContainer .createForm .create-form .department-input-container .department-container {
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .department-input-container .department-container .checkbox-container {
  display: flex;
  align-items: center;
}
.main_content_wsb .tabContainer .createForm .create-form .department-input-container .department-container .checkbox-container .checkbox-label {
  color: red;
}
.main_content_wsb .tabContainer .createForm .create-form .department-input-container .department-container .checkbox-container .checkbox-main {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.main_content_wsb .tabContainer .createForm .create-form .page {
  display: none;
  height: 100%;
  transition: all 300ms linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .input-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 300ms linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .input-container .input-label {
  font-size: 15px;
  margin-right: 15px;
  white-space: nowrap;
  text-align: left;
}
.main_content_wsb .tabContainer .createForm .create-form .page .input-container .input-main {
  margin: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  border: 2px solid #aeaeae;
  border-radius: 2px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .input-container .input-main:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .create-form .page .input-container .mat-desc {
  margin: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form {
  display: none;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form .input-container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 300ms linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form .input-container .input-label {
  font-size: 15px;
  margin-right: 15px;
  white-space: nowrap;
  text-align: left;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form .input-container .input-main {
  margin: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
  border: 2px solid #aeaeae;
  border-radius: 2px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form .input-container .input-main:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .create-form .page .add-form .input-container .mat-desc {
  margin: 10px;
  height: 100%;
  width: 100%;
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-title {
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border: 0px solid #aeaeae;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-date-container {
  width: 50%;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-date-container .start-date-label {
  margin-left: 10px;
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-date-container .start-date {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  height: 50px;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-date-container .start-date:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-time-container {
  width: 50%;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-time-container .start-time-label {
  margin-right: 10px;
  font-size: 15px;
  text-align: left;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-time-container .start-time {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .start-container .start-time-container .start-time:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-title {
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-date-container {
  width: 50%;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-date-container .end-date-label {
  margin-left: 10px;
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-date-container .end-date {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-date-container .end-date:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-time-container {
  width: 50%;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-time-container .end-time-label {
  margin-right: 10px;
  font-size: 15px;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-time-container .end-time {
  width: 90%;
  margin-right: 10px;
  margin-left: 10px;
  height: 30px;
  border: 2px solid #aeaeae;
  border-radius: 5px;
  padding-top: 6px;
  padding-bottom: 20px;
  transition: all 0.5s linear;
}
.main_content_wsb .tabContainer .createForm .create-form .page .end-container .end-time-container .end-time:hover {
  border: 2px solid #525252;
  transition: all 0.5s linear;
  background-color: #d8d8d8;
}
.main_content_wsb .tabContainer .createForm .reminder {
  text-align: right;
}
.main_content_wsb .tabContainer .createForm .subbutton {
  border: 1px solid #2364d2;
  padding-top: 15px;
  padding-bottom: 45px;
  width: 100%;
  height: 60px;
  font-size: 25px;
  background-color: #2364d2;
  transition: all 0.5s linear;
  border-radius: 10px;
  font-weight: 1000;
  color: rgb(182, 182, 182);
}
.main_content_wsb .tabContainer .createForm .subbutton:hover {
  border: 1px solid rgb(11, 148, 141);
  background-color: #1a4ca3;
  transition: all 0.5s linear;
  color: rgb(211, 211, 211);
}

.main_content_wosb {
  background: white;
  width: calc(100% - 49px);
  margin-left: 49px;
  height: 100%;
  float: right;
  padding-top: 48px;
  transition: all 0.5s linear;
  z-index: 1;
}
.main_content_wosb .header {
  float: inherit;
  width: inherit;
  height: 57px;
  position: fixed;
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
  z-index: 3;
}
.main_content_wosb .topnavticket {
  background-color: white;
  margin-top: 57px;
  width: 100%;
  height: 57px;
}
.main_content_wosb .topnavticket .navholder {
  width: 100%;
  border-bottom: 2px solid rgb(105, 105, 105);
  padding-top: 25px;
  display: flex;
  margin-bottom: 5px;
}
.main_content_wosb .topnavticket .navholder .navticket {
  background: rgb(234, 233, 233);
  border: 1px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-left: 2px solid rgb(105, 105, 105);
  border-right: 2px solid rgb(105, 105, 105);
  border-top: 2px solid rgb(105, 105, 105);
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 1px;
  font-size: 10px;
  margin-right: 1px;
}
.main_content_wosb .topnavticket .navholder .navticket:hover {
  background: rgb(255, 145, 0);
}/*# sourceMappingURL=request.css.map */