html, body { 
	margin: 0;
  	padding: 0;
	width: 100%;
	height:100%;
	overflow:hidden;
	font-size: 16px;
	align-items: center;
	align-content: center;
	font-family: Helvetica;
	background: #f0f2f5;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.notification-container {
    width: 100%;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0d0d0d;
    
    .alert-success {
        width: 100%;
        height: 100%;
    
        .closebtn-success {
            width: 100%;
            height: 100%;
            background-color: #188401;
            color: #F0F0F0;
        }
    }

    .alert-danger {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #441818;
    
        .closebtn-error {
            width: inherit;
            height: inherit;
            background-color: #a00;
            color: #F0F0F0;
        }
    }
}

.overall-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 40px;
    flex-direction: row;
    background-color: #0d0d0d;;
}
.dual-function-container {
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    margin: 0 40px;
    transition: width 500ms ease-in-out;

    .login-container {
        padding: 20px;
        height: 315px;
        background: #36393f;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: row-reverse;
        transition: width 300ms linear;
        // width: 355px; Option for mobile/tablet mode
        width: 784px;
        color: #c9c9be;

        .titlecontainer-login {
            float: left;
            width: inherit;
            text-align: center;
            height: inherit;
            justify-content: center;
            display: flex;
            flex-direction: column;
            align-content: center;
            align-items: center;
    
            .header_logo {
                width: 106px;
                height: 106px;
    
                .glory-logo {
                    width: 106px;
                    height: 106px;
                }
            }
    
            .company-name {
                margin: 0 auto;
                padding-top: 20px;
                text-transform:uppercase;
                font-size: 30px;
                color:rgb(255, 255, 255);
                transition: 500ms;
                
                &:hover {
                    transition: 500ms;
                    color: #5865f2;
                }
            }
            
            .system-name {
                margin: 0 auto;
                padding-top: 20px;
                text-transform:uppercase;
                font-size: 20px;

                &:hover {
                    transition: 500ms linear;
                    color: #5865f2;
                }
            }
        }

        .login-form {
            width: 100%;
            height: 100%;
        

            .username-container {
                width: 100%;
                height: 73px;
                padding: 0px;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                .username-input {
                    width: 336px;
                    height: 26px;
                    padding: 9px;
                    font-size: 13px;
                    color: #fffffe;
                    border: #908e5b;
                    border-radius: 10px;
                    transition: 500ms;
                    background-color: #908e5b;

                    &:hover {
                        transition: 500ms;
                        background-color: #6e6e59;
                    }
                }

                .invalid-feedback{
                    font-size:10px;
                    margin-bottom: 10px;
                }
                
            }

            .password-container {
                width: 336px;
                height: 64px;
                padding: 0px;
                align-items: center;

                .password-input {
                    width: 336px;
                    height: 26px;
                    padding: 9px;
                    font-size: 13px;
                    color: #fffffe;
                    border: #908e5b;
                    border-radius: 10px;
                    transition: 500ms;
                    background-color: #908e5b;

                    &:hover {
                        transition: 500ms;
                        background-color: #6e6e59;
                    }
                }

                .invalid-feedback{
                    font-size:10px;
                    margin-bottom: 10px;
                }
            }

            .login-button-container {
                width: 356px;
                height: 48px;
                padding: 0px;
                text-align: center;

                .login-button {
                    color:#fff;
                    font-size:20px;
                    border: 0px;
                    width: 100%;
                    height: 48px;
                    font-weight: 900;
                    border-radius: 6px;
                    margin-top: 3px;
                    margin-right: 6px;
                    line-height: 48px;
                    outline: none;
                    transition: 500ms;
                    background: #1877f2; /* Old browsers */
                    background: -moz-linear-gradient(top,  #5865f2 0%, #7440a5 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5865f2), color-stop(100%,#7440a5)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #5865f2 0%,#7440a5 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

                    &:hover {
                        transition: 500ms;
                        background:#343c92; /* Old browsers */
                        background: -moz-linear-gradient(top,  #512c74 0%, #343c92 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#512c74), color-stop(100%,#343c92)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #512c74 0%,#343c92 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #512c74 0%, #343c92 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #512c74 0%, #343c92 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #512c74 0%, #343c92 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
                    }
                }
            }

            .forgot-container {
                margin-top: 5px;
                margin-bottom: 16px;
                width: 356px;

                    .forgot {
                    font-style: none;
                    color: #5865f2;
                    transition: 500ms;

                    &:hover {
                        color: #51bdd8;
                        transition: 500ms;
                    }
                }
            }

            .divider {
                border-bottom: 1px #686868 solid;
                margin-top: 10px;
                margin-bottom: 10px;
                width: 356px;
            }
            
            .createaccount-container {
                width: 356px;
                height: 48px;
                
                .createaccount {
                    color: #51bdd8;
                    transition: 500ms;

                    &:hover {
                        transition: 500ms;
                        color: #5865f2;
                    }
                }
            }

            .remeber {
                font-size: 13px;
                margin-top: 13px;
            }
        }
    }
}


.dual-function-container-hidden {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 100%;
    margin: 0 40px;
    transition: width 500ms ease-in-out;

    .login-container {
        width: 0;
        padding: 20px;
        height: 311px;
        background: #FFFFFF;
        border: none;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
        display: none;
        transition: width 300ms ease-in-out;

        .login-form {
            width: inherit;
            height: 136px;

            .username-container {
                width: 0;
                height: 58px;
                padding: 0px;
                align-items: center;
                display: flex;

                .username-input {
                    width: 100%;
                    height: 26px;
                    padding: 9px;
                    font-size: 13px;
                    color: #757575;
                    border: 1px solid #c4c4c4;
                    border-radius: 2px;
                }

                .invalid-feedback{
                    font-size:10px;
                    margin-bottom: 10px;
                }
                
            }

            .password-container {
                width: 336px;
                height: 64px;
                padding: 0px;
                align-items: center;

                .password-input {
                    width: 336px;
                    height: 26px;
                    padding: 9px;
                    font-size: 13px;
                    color: #757575;
                    border: 1px solid #c4c4c4;
                    border-radius: 2px;
                }

                .invalid-feedback{
                    font-size:10px;
                    margin-bottom: 10px;
                }
            }

            .login-button-container {
                width: 356px;
                height: 48px;
                padding: 0px;
                text-align: center;

                .login-button {
                    color:#fff;
                    font-size:20px;
                    border: 1px solid #a6a6a6;
                    width: 100%;
                    height: 48px;
                    font-weight: 900;
                    border-radius: 6px;
                    margin-top: 3px;
                    margin-right: 6px;
                    line-height: 48px;
                    outline: none;
                    background: #1877f2; /* Old browsers */
                    background: -moz-linear-gradient(top,  #5865f2 0%, #7440a5 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5865f2), color-stop(100%,#7440a5)); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(top,  #5865f2 0%,#7440a5 100%); /* IE10+ */
                    background: linear-gradient(to bottom,  #5865f2 0%,#7440a5 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */

                    &:hover {
                        background:#343c92; /* Old browsers */
                        background: -moz-linear-gradient(top,  #343c92 0%, #512c74 100%); /* FF3.6+ */
                        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#343c92), color-stop(100%,#512c74)); /* Chrome,Safari4+ */
                        background: -webkit-linear-gradient(top,  #343c92 0%,#512c74 100%); /* Chrome10+,Safari5.1+ */
                        background: -o-linear-gradient(top,  #343c92 0%, #512c74 100%); /* Opera 11.10+ */
                        background: -ms-linear-gradient(top,  #343c92 0%, #512c74 100%); /* IE10+ */
                        background: linear-gradient(to bottom,  #343c92 0%, #512c74 100%); /* W3C */
                        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc0000', endColorstr='#cc0000',GradientType=0 ); /* IE6-9 */
                    }
                }
            }

            .forgot-container {
                margin-top: 16px;
                text-align: center;
                width: 356px;

                    .forgot {
                    color: #343c92;


                    
                }
            }

            .divider {
                border-bottom: 1px #929292 solid;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 356px;
            }
            
            .createaccount-container {
                width: 356px;
                height: 48px;
                text-align: center;
                
                .createaccount {
                    width: 195px;
                    padding-left: 45px;
                    padding-right: 45px;
                    padding-top: 10.63px;
                    padding-bottom: 10.63px;
                    font-size:20px;
                    background-color: #36a420;
                    border: 1px solid #a6a6a6;
                    height: 48px;
                    font-weight: 900;
                    border-radius: 6px;
                    margin-right: 6px;
                    line-height: 48px;
                    color: white;
                    font-style: none;
                }
            }

            .remeber {
                font-size: 13px;
                margin-top: 13px;
            }
        }
    }
}

.register-container{
    position: relative;
    background: #111986;
    width:  50%;
    height: 100%;
    float: right;
    padding-top: 48px;
    z-index: 1;
    display: none;
    transition: width 500ms ease-in-out;

    .notification-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #6CAE5A;
        
        .alert-success {
            width: 50%;
            height: 50%;
        
            .closebtn-success {
                width: 100%;
                height: 100%;
                background-color: #188401;
                color: #F0F0F0;
                border: 2px solid #000;
                border-radius: 40px;
            }
        }
    
        .alert-danger {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #441818;
        
            .closebtn-error {
                width: inherit;
                height: inherit;
            }
        }
    }

    .title {
        white-space: nowrap;
        text-align: left;
        text-align: center;
        color: #ffffff;
    }

    .signup-container {
        height: 100%;
        margin-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
    }

    .full-name-container {
        display: flex;
        flex-direction: row;
        width: 100%;

        .input-first-name-container {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-right: 20px;

            .input-name-main {
                height: 100%;
                width: 100%;
                font-size: 15px;
                border: 2px solid #aeaeae;
                border-radius: 5px;
                transition:all .5s ease-in-out;
    
                &:hover {
                    border: 2px solid #525252;
                    transition:all .5s ease-in-out;
                    background-color: #d8d8d8;
                }
            }
        }

        .input-last-name-container {
            width: 100%;
            height: 30px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;
            margin-right: 20px;

            .input-name-main {
                height: 100%;
                width: 100%;
                font-size: 15px;
                border: 2px solid #aeaeae;
                border-radius: 5px;
                transition:all .5s ease-in-out;
    
                &:hover {
                    border: 2px solid #525252;
                    transition:all .5s ease-in-out;
                    background-color: #d8d8d8;
                }
            }
        }

        .input-suffix-name-container {
            width: 70%;
            height: 30px;
            display: flex;
            align-items: center;
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 10px;

            .input-name-main {
                height: 100%;
                width: 100%;
                font-size: 15px;
                border: 2px solid #aeaeae;
                border-radius: 5px;
                transition:all .5s ease-in-out;
    
                &:hover {
                    border: 2px solid #525252;
                    transition:all .5s ease-in-out;
                    background-color: #d8d8d8;
                }
            }
        }
    }

    .input-container {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .input-label {
            font-size: 15px;
            margin-right: 15px;
            white-space: nowrap;
            color: #ffffff;
            text-align: left;
        }

        .input-main {
            height: 100%;
            width: 100%;
            font-size: 15px;
            border: 2px solid #aeaeae;
            border-radius: 2px;
            transition:all .5s ease-in-out;

            &:hover {
                border: 2px solid #525252;
                transition:all .5s ease-in-out;
                background-color: #d8d8d8;
            }
        }
    }

    .reminder {
        color: #ffffff;
        text-align: right;
    }

    .regbutton {
        border: 1px solid #2364d2;
        padding-top: 15px;
        padding-bottom: 45px;
        width: 100%;
        height: 60px;
        font-size: 25px;
        background-color: #2364d2;
        transition:all .5s ease-in-out;
        border-radius: 10px;
        font-weight: 1000;
        color: rgb(182, 182, 182);

        &:hover {
            border: 1px solid rgb(11, 148, 141);
            background-color: #1a4ca3;
            transition:all .5s ease-in-out;
            color: rgb(211, 211, 211);
        }
    }

    .haveaccount {
        margin-top: 10px;
        color: #ffffff;
        font-size: 10px;
    }
}

.register-container-hidden{
    background: #111986;
    position: relative;
    width:  0;
    height: 0;
    float: right;
    margin-top: 20px;
    padding-top: 48px;
    z-index: 1;
    display: none;
    transition: width 500ms ease-in-out;

    .notification-container {
        width: inherit;
        height: inherit;
        display: none;
        justify-content: center;
        align-items: center;
        background-color: #6CAE5A;
        
        .alert-success {
            width: 50%;
            height: 50%;
        
            .closebtn-success {
                width: 100%;
                height: 100%;
                background-color: #188401;
                color: #F0F0F0;
                border: 2px solid #000;
                border-radius: 40px;
            }
        }
    
        .alert-danger {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #441818;
        
            .closebtn-error {
                width: inherit;
                height: inherit;
            }
        }
    }

    .title {
        white-space: nowrap;
        text-align: left;
        text-align: center;
        color: #ffffff;
    }

    .signup-container {
        height: 100%;
        margin-left: 100px;
        margin-right: 100px;
        display: none;
        flex-direction: column;
    }

    .input-container {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        .input-label {
            font-size: 15px;
            margin-right: 15px;
            white-space: nowrap;
            color: #ffffff;
            text-align: left;
        }

        .input-main {
            height: 100%;
            width: 100%;
            font-size: 15px;
            border: 2px solid #aeaeae;
            border-radius: 2px;
            transition:all .5s ease-in-out;

            &:hover {
                border: 2px solid #525252;
                transition:all .5s ease-in-out;
                background-color: #d8d8d8;
            }
        }
    }

    .reminder {
        color: #ffffff;
        text-align: right;
    }

    .regbutton {
        border: 1px solid #2364d2;
        padding-top: 15px;
        padding-bottom: 45px;
        width: 100%;
        height: 60px;
        font-size: 25px;
        background-color: #2364d2;
        transition:all .5s ease-in-out;
        border-radius: 10px;
        font-weight: 1000;
        color: rgb(182, 182, 182);

        &:hover {
            border: 1px solid rgb(11, 148, 141);
            background-color: #1a4ca3;
            transition:all .5s ease-in-out;
            color: rgb(211, 211, 211);
        }
    }

    .haveaccount {
        margin-top: 10px;
        color: #ffffff;
        font-size: 10px;
    }
}